.columns
    .column
        -var previous = (parseInt(currentPage) === 1)
        -var next = (parseFloat(currentPage) >= parseFloat(totalPage))
        if previous
            a.btn.btn-action(disabled) 
                i.icon.icon-arrow-left
            | &nbsp; &nbsp;
        else
            a.btn.btn-action( href=fullpath+"?page=" + (parseInt(currentPage) - 1) + query_string ) 
                i.icon.icon-arrow-left
            | &nbsp; &nbsp;
        if next
            a.btn.btn-action(disabled) 
                i.icon.icon-arrow-right
            | &nbsp; &nbsp;
        else
            a.btn.btn-action( href=fullpath+"?page=" + (parseInt(currentPage) + 1) + query_string )
                i.icon.icon-arrow-right
            | &nbsp; &nbsp;